%tr
  %td
    = custom_form.name
  %td
    = custom_form.submissions.count
  %td
    = custom_form.enabled
  %td
    = link_to 'Submissions', custom_form_submissions_path(custom_form), class: 'btn btn-link btn-sm text-primary'
    = link_to 'Edit', edit_custom_form_path(custom_form), class: 'btn btn-link btn-sm text-success'
